body {
  font-family: sans-serif;
  padding: 20px;
}

* {
  margin: 0;
  padding: 0;
  color: #0d0d0d;
}

main {
  margin: auto;
  width: 80%;
}

#form {
  width: 100vw;
  margin: 20px 0;
}

#keyword{
  border-radius: 12px;
  padding: 10px 12px;
  font-size: 12px;
  margin: 2px;
}

#form button{
  background-color: red;
  border: none;
  color: white;
  padding: 10px 12px;
  text-align: center;
  border-radius: 12px;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  font-size: 12px;
}



#content {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#content article {
  width: 350px;
  padding: 20px 20px;

}

#content img {
  width: 100%;
}